# This file is used to condense the Combined_dataset.csv (2 million+ rows) when pushing to GitHub.

Data/Combined_dataset.csv filter=lfs diff=lfs merge=lfs -text
Data/GFQA_v3.zip filter=lfs diff=lfs merge=lfs -text
